version: "2.1"

services:
  test:
    container_name: test
    build: ./services/test/
    volumes:
      - "./services/test:/app"
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
  web:
    container_name: web
    build: ./web/
    # volumes:
    #   - "./web:/app"
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    links:
      - test
